<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package instrumentId="Akka" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.Cluster" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.Cluster.Sharding" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.Cluster.Tools" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.Coordination" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.DistributedData" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.DistributedData.LightningDB" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.Persistence" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.Remote" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.Serialization.Hyperion" version="1.4.8" targetFramework="net48" />
  <package instrumentId="Akka.Streams" version="1.4.8" targetFramework="net48" />
  <package instrumentId="DotNetty.Buffers" version="0.6.0" targetFramework="net48" />
  <package instrumentId="DotNetty.Codecs" version="0.6.0" targetFramework="net48" />
  <package instrumentId="DotNetty.Common" version="0.6.0" targetFramework="net48" />
  <package instrumentId="DotNetty.Handlers" version="0.6.0" targetFramework="net48" />
  <package instrumentId="DotNetty.Transport" version="0.6.0" targetFramework="net48" />
  <package instrumentId="Google.Protobuf" version="3.12.3" targetFramework="net48" />
  <package instrumentId="Hyperion" version="0.9.16" targetFramework="net48" />
  <package instrumentId="LightningDB" version="0.11.0" targetFramework="net48" />
  <package instrumentId="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.0" targetFramework="net48" />
  <package instrumentId="Microsoft.Extensions.Logging" version="1.1.1" targetFramework="net48" />
  <package instrumentId="Microsoft.Extensions.Logging.Abstractions" version="1.1.1" targetFramework="net48" />
  <package instrumentId="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package instrumentId="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net48" />
  <package instrumentId="NETStandard.Library" version="1.6.1" targetFramework="net48" />
  <package instrumentId="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package instrumentId="Reactive.Streams" version="1.0.2" targetFramework="net48" />
  <package instrumentId="System.AppContext" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package instrumentId="System.Collections" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Collections.Immutable" version="1.7.1" targetFramework="net48" />
  <package instrumentId="System.ComponentModel" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net48" />
  <package instrumentId="System.Console" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Diagnostics.Tools" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Globalization" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Globalization.Calendars" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.IO" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.IO.FileSystem" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Linq" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Memory" version="4.5.4" targetFramework="net48" />
  <package instrumentId="System.Net.Http" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Net.Primitives" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Net.Sockets" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package instrumentId="System.ObjectModel" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Reflection.Extensions" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net48" />
  <package instrumentId="System.Resources.ResourceManager" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package instrumentId="System.Runtime.Extensions" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Runtime.Handles" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Runtime.InteropServices" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package instrumentId="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Security.Permissions" version="4.7.0" targetFramework="net48" />
  <package instrumentId="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package instrumentId="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Text.RegularExpressions" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Threading" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Threading.Tasks" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net48" />
  <package instrumentId="System.Threading.Timer" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net48" />
  <package instrumentId="System.Xml.XDocument" version="4.3.0" targetFramework="net48" />
</packages>